body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.coverimg {
    height:256px;
    width:256px;
}

.margtop20 {
    margin-top: 20px;
}

.margbot20 {
    margin-bottom: 20px;
    
}