body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.coverimg {
    height:256px;
    width:256px;
}

.margtop20 {
    margin-top: 20px;
}

.margbot20 {
    margin-bottom: 20px;
    
}

.price {
    float:right;
    font-size: 17pt;

}

.description {
    width: 100%;
}

.img512{
    height:512px;
    width:512px;
}